# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.idea
.vscode

# Vaadin / frontend
node_modules/
target
vite.generated.ts
src/main/frontend/generated/

# IDE compile output
bin/
out/

.DS_Store
